<div class="container md-10 mt-5">
  <h1 class="col-lg-8 text-center">
    <%= t('users.editing') %>
  </h1>
  <div class="col-lg-12 mt-4">
    <%= render 'form', user: current_user %>
    <%= link_to t('users.back'), users_url, class: "btn btn-primary" %>
  </div>
</div>
