<%= form_for(@wallet) do |f| %>
  <%= select_tag :currency_id, options_from_collection_for_select(@currencies, "id", "name", params[:currency_id]), class: "form-control" %>
  <div class="mt-3">
   <%= f.submit 'Create wallet', class: "btn btn-primary" %>
  </div>
<% end %>