<div class="container">
	<div class="row mt-4 text-center">
		<h2 class="text-left"> <mark>О нашем проекте</mark> </h2>
	</div>
	<div class="row">
		<div class="col-12">
			<ul>
   			<li>
   				Почему он был создан?
   			</li>
					<p>Мы сделали этот проект как часть "Ruby Lab-2021". Smart Banking это аналог интернет-банкинга. С его помощью вы можете переводить деньги и платить за услуги.</p>
				<li>Какие технологии мы использовали?</li>
					<p>Rails, Puma, Nginx, Postgresql, Redis, Bootstrap</p>
			</ul>
		<div>
	</div>
</div>
<div class="row mt-3">
<h2 class="text-center"> <mark>Наша команда</mark> </h2>
</div>
<div class="container">
  <div class="row mt-3">
    <div class="col-sm-8">
    	<h5 class="text-center"> Борис Цариков (Ментор) </h5>
      	<h6><em>Контакты</em></h6> 
				<p>GitHub: <a href="https://github.com/B0RlS">B0RlS</a></p> 
				<p>LinkedIn: <a href="https://www.linkedin.com/in/boris-tsarikov-46a693178/">Boris Tsarikov</a></p> 
				<p>Email: <a href="mailto: Boris.Tsarikov@gmail.com">Boris.Tsarikov@gmail.com</a></p> 
				<p>Telegram: <a href="https://t.me/boris_tsarikov">@boris_tsarikov</a></p> 
		</div>
		<div class="col-sm-4">
			<img src="1.png"> 
		</div>
	</div>
	</div>
	<div class="container">
  <div class="row">
    <div class="col-sm-8">
    	<h5 class="text-center"> Владислав Митин</h5>
      	<h6><em>Контакты</em></h6> 
				<p>GitHub: <a href="https://github.com/m3xq">m3xq</a></p> 
				<!-- <p>LinkedIn: <a href="">Vladislav Mitin</a></p>  -->
				<p>Email: <a href="mailto: z3w1l0q@protonmail.com">z3w1l0q@protonmail.com</a></p> 
				<p>Telegram: <a href="https://t.me/m3xxq">@m3xxq</a></p> 
		</div>
		<div class="col-sm-4">
			<img src="1.png"> 
		</div>
	</div>
	</div>
	<div class="container">
  <div class="row">
    <div class="col-sm-8">
    	<h5 class="text-center"> Лизавета Муромская</h5>
      	<h6><em>Контакты</em></h6> 
				<p>GitHub: <a href="https://github.com/lizamuromskaya"> lizamuromskaya</a></p> 
				<p>LinkedIn: <a href="https://www.linkedin.com/in/lizaveta-muromskaya/">Lizaveta Muromskaya</a></p> 
				<p>Email: <a href="mailto: lizavetamuromskaya@gmail.com">lizavetamuromskaya@gmail.com</a></p> 
				<p>Telegram: <a href="https://t.me/lizaveta02">@lizaveta02</a></p> 
		</div>
		<div class="col-sm-4">
			<img src="1.png"> 
		</div>
	</div>
	</div>
	<div class="container">
  <div class="row">
    <div class="col-sm-8">
    	<h5 class="text-center"> Егор Воробьев</h5>
      	<h6><em>Контакты</em></h6>
				<p>GitHub: <a href="https://github.com/Captain-Vorobey"> Captain-Vorobey</a></p> 
				<p>LinkedIn: <a href="https://www.linkedin.com/in/egor-vorobyov-81419919b/">Egor Vorobyov</a></p> 
				<p>Email: <a href="mailto: vorobyov_egor@bk.ru">vorobyov_egor@bk.ru</a></p> 
				<p>Telegram: <a href="https://t.me/captain_vorob">@captain_vorob</a></p> 
		</div>
		<div class="col-sm-4">
			<img src="1.png"> 
		</div>
	</div>
	</div>
		<div class="container">
  <div class="row">
    <div class="col-sm-8">
    	<h5 class="text-center">Виталий Гавриленя</h5>
      	<h6><em>Контакты</em></h6>
				<p>GitHub: <a href="https://github.com/vitalygv">vitalygv</a></p> 
				<p>LinkedIn: <a href="https://www.linkedin.com/in/vitaly-gavrilenya/">Vitaly Gavrilenya </a></p> 
				<p>Email: <a href="mailto: kewl.dkmr@gmail.com">kewl.dkmr@gmail.com</a></p> 
				<p>Telegram: <a href="https://t.me/vitalyg">@vitalyg</a></p>  
		</div>
		<div class="col-sm-4">
			<img src="1.png"> 
		</div>
	</div>
	</div>
