<div>
<h1>News</h1>
</div>

<div class="container">
<% @posts.each do |post|%>
  <div class="row">
    <div class="col-12">
    		<h2><%= post.name %></h2>
    		<%= post.description.slice(0..60) + '...' %>
    		<%= link_to "Show more", post_path(post) %> <br> 	
    		by <%= post.created_at%>
    </div>
  </div>
<% end %>
</div>