<div class="text-center mt-5">
	<h1><mark><%= @post.name %></mark></h1>
</div>

<div class="container">
  <div class="row">     
    <div class="text-left">
		  <% if @post.avatar.attached? %>
          <img src="<%= (url_for(@post.avatar)) %>" alt="Admin" class="rounded-circle" width="150" height="150" >
        <% else %>
          <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
      <% end %>
    	<%= @post.description %>
    </div>
  </div>
</div>

<div class="container">
	<div class="row top-buffer"> 
		<div class="mt-4 text-right">	
		  <footer class="blockquote-footer">by <cite title="Created_at"><%= @post.created_at%> </cite></footer>
		</div>
	</div>
</div>
