<div class="container md-10 mt-5">
  <h1 class="col-lg-8 text-center">
    <%= t('transaction.your_transaction') %>
  </h1>
  <div class="col-lg-12 mt-4">
    <% if !@service.nil? %>
      <p><%= "Service which you have chosen: #{@service.name}" %></p>
    <% end %>
    
    <%= render 'form', transaction: @transaction %>
    <br/>
    <%= link_to t('users.back'), users_url, class: "btn btn-primary" %>
  </div>
</div>

